<div class="container">
  <div class="question">
    <p><%= @question %> <br> <strong>-Your Question</strong></p>
  </div>
  <div class="answer">
    <p><%= @answer %> <br> <strong>-Coach Answer</strong></p>
  </div>
  <%= link_to "Ask another question", ask_path %>
</div>
